
			
			h1 { color : blue;
				 font-family:  verdana, san-serif;
			  font-size: 60px;
			  font-variant: small-caps;
			  font-style: italic;



			}
			p {
			font-family: georgia, san-serif;
			font-weight: 100px;
			line-height: 50px;



			}
	